html{
    height: 100%;
}

section.bg-top{
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: -2%;
    background-image: url('./img/bg-top.webp');
    background-size: cover;
}
section.bg-top .escurecer{
    width: 100%;
    height: 100%;
    background-color:rgba(100,100,100,1) ;
    opacity: 0.2;
    position: relative;
    z-index: 1;
}
section.bg-top .fix-zindex{
    position: relative;
    z-index: 2;
    top:-100%;
    display: flex;
    color: white;
    font-weight: lighter;
}

section.bg-top .fix-zindex .row .texto-bg .col-md-6{
    width: 40%;
    float: left;
    margin: 5%;
    font-size: 1vw;
}
section.bg-top .fix-zindex .row .texto-bg .col-md-6 h2{
    font-weight: lighter;

}
section.sobre{padding: 2vw 0;
    background: rgb(225,225,225);    
    }

section.sobre .container .row .col-sm-10 .custom-title h2{
    color: rgb(100,100,100);
}

section.sobre .container .row .col-sm-10 .custom-title div{
    border: none;
    width:40px;
    height: 5px;
    background:#0d6efd;;
}

section.diferenciais{
    padding: 3vw 0;
    width: 100%;
}
section.diferenciais h2{
    padding: 1vw 0;
    border-bottom:2px dotted grey;
}
section.diferenciais .col-md-3{
    padding: 0vw;
    margin-top: 2vw;
}

section.diferenciais .container{
    width: 75%;
}

section.diferenciais .container .row  .custom-title div{
    border: none;
    width:40px;
    height: 5px;
    background:#0d6efd;;
}
section.diferenciais .container .row  .custom-title h2{
    border: none;
    padding: 0;
    color: rgb(100,100,100);
}
section.diferenciais .container .row  .custom-title {
    border: none;
    width:100vw;
}
section.convite .container .row .col-md-5 form input{
    width: 80%;
    height: 40px;
    border-radius: 0;
    border: none;
    margin: 0;
    padding: 0;
    float: left ;
    display: inline-block;
}

section.convite .container .row .col-md-5 form{
    align-items: center;
    display: block;
}

section.convite{
    padding: 0.5vw;
}

section.convite .container .row .col-md-5 form input[type=submit]{
  width: 20%;
  font-size: 1.5vw;
  
}
section.formulario{
    padding: 3vw;
    background: rgb(225,225,225);
}

section.formulario .container .row  .custom-title div{
    border: none;
    width:40px;
    height: 5px;
    background:#0d6efd;;
}
section.formulario .container .row  .custom-title h2{
    border: none;
    padding: 0;
    color: rgb(100,100,100);
}
section.formulario .container .row  .form-group{
    margin: 2% 0;
}

section.rodapé{
 padding-top: 10px;
}

@media  screen and (max-width:770px) {
    section.bg-top{
        margin-top: -6%;
    }
    section.diferenciais .container{
        width: 90%;
    }
    section.diferenciais{
        padding: 2%;
    }
    section.sobre .container{
        width: 90%;
        padding: 2%;
    }
    section.bg-top .fix-zindex .row .texto-bg .col-md-6{
        width: 80%;
        float: none;
        margin: 10%;
        font-size: 2vw;
    }   
    section.convite .container .row .col-md-5 form input[type=submit]{
        font-size: 3vw;
    }
    section.rodapé{
        margin-top: -6%;
        padding-top: 0;
    }
}